@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #102a43;
  --background: #f7fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
